* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --dark-text: #131313;
    --light-text: #424242;
    --gray-text: #727272;
    --orange: #FF900E;

}
/*All Sections Title Style*/
.section-title {
    color: var(--dark-text);
    font-size: 45px;
    font-weight: 700;
}
.section-title .gray {
    color: var(--gray-text);
    font-weight: 500;
}
.orange {
    color: var(--orange);
}
/*All Sections Paragraph Style*/
.section-text {
    color: var(--light-text);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
/*All Sections Buttons Style*/
.primary-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    background: #FF900E;
    border: 0;
    cursor: pointer;
}
/*Navigation Design*/
header {
    background-color: #FF900E1A;
    margin: 0 auto;
    padding: 20px 100px 40px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: var(--dark-text);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    list-style: none;
    margin-right: 50px;
}
.menu li a {
    text-decoration: none;
    color: var(--light-text);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
.menu li a:hover {
        text-decoration: underline;
        color: #FF900E;
}
/*Banner Design*/
.banner-content {
    max-width: 700px;
    margin: 100px auto 0;
    text-align: center;
}
.banner-title {
    color: var(--dark-text);
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-img img {
    margin: 50px auto 0;
}
.banner-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Team Section Style*/
.team-section {
    max-width: 1000px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.team-img img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.team-content > .section-title {
    margin-bottom: 10px;
}
.team-content > .section-text {
    text-align: left;
}
/*Featured Section Design*/
.featured {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 100px auto 0;
}
.featured-content > .section-title {
    margin-bottom: 5px;
    border-left: 5px solid var(--orange);
    padding-left: 20px;
}
.featured-content > .section-text {
    text-align: left;
    margin-bottom: 5px;
}
.featured-box .box {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 15px;
}
.box > .section-title {
    font-size: 18px;
    font-weight: 600;
}
.box > .section-text {
    font-size: 14px;
    margin-bottom: 0px;
    text-align: left;
}
.featured-img img {
    width: 500px;
    height: auto;
    object-fit: cover;
    margin-left: 60px;
}
.year {
    background-color: var(--orange);
    padding: 20px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    top: -80px;
}
.year > .banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
}
.year .section-text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    color: #fff;
}














/*Mobile Version Style*/
@media screen and (max-width: 576px) {
    .nav,
    .featured{
        flex-direction: column;
    }
    header,
    .team-img,
    .featured {
        padding: 10px;
    }
    .menu {
        margin-top: 20px;
    }
    .menu li {
        margin-right: 20px;
    }
    .menu li a {
        font-size: 16px;
    }
    .banner-content {
        margin: 70px auto 0;
    }
    .banner-title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .section-text {
        font-size: 14px;
        line-height: normal;
    }
    .primary-btn {
        font-size: 15px;
        padding: 15px 12px;
    }
    .team-section {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .team-content {
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    .section-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .team-content > .section-text,
    .featured-content > .section-text  {
        text-align: center;
        margin-bottom: 20px;
    }
    .team-img img {
        width: 100%;
        height: 100%;
    }
    .featured-img img {
        width: 100%;
        margin: 0 auto;
    }
}

/*Tablet version Style*/
@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav,
    .featured {
        flex-direction: column;
    }
    header {
        padding: 20px 20px 40px;
    }
    .menu {
        margin-top: 20px;
    }
    .banner-title {
        font-size: 40px;
    }
    .team-section {
        flex-direction: column-reverse;
        padding: 0 50px;
    }
    .team-img img {
        width: 100%;
        height: 100%;
    }
    .section-title {
        font-size: 35px;
        text-align: center;
    }
    .team-content > .section-text {
        text-align: center;
    }
    .team-content {
        text-align: center;
    }
    .featured {
        margin: 100px 20px;
    }
    .featured-content > .section-title,
    .featured-content > .section-text {
        margin-bottom: 20px;
        padding: 0;
        border: 0;
    }
}